@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо!</h1>
    <p>Це автоматизована система диспетчерської служби таксі.</p>
    <hr />
    <p>Оберіть потрібну дію у меню.</p>
</div>